<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    
    <form method="POST">
        <h1>html form</h1>
        
        
        {% csrf_token %} 
        <label for="na">USERNAME:</label>
        <input type="text" name="ua" id="na"><br>
        <label for="pw">PASSWORD:</label>
        <input type="text" name="na" id="pw"><br>

        <input type="submit">
    </form>
</body>
</html>